@model IEnumerable<LeaveManagementWebAPI.leaveType>

@{
    ViewBag.Title = "Index";
}

<h2>Details about your Leaves</h2>

<p>
    @Html.ActionLink("Back to Employee Details", "Create")
</p>

<table class="table">
    <tr>
        <th>
            Leave Code
        </th>
        <th>
            Leave Description
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.typeCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.leaveDescription)
            </td>
        </tr>
    }

</table>


